.info {
    padding: 80px 16px;
    h1, p{
        margin: 8px 0;
    }
}

.label {
    margin: 0 16px;
}


.card {
    //background-color: $project-1;
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    h3 {
        margin: 16px 0 0 0;
    }
    p {
        margin: 24px 0;
    }
    ul {
        padding: 0;
        margin: 0 -2px;
        li {
            display: inline-block;
            text-align: center;
            border: 1px solid $color-button;
            border-radius: 100px;
            margin-right: 4px;
            margin-top: 8px;
            padding: 4px 12px;
        }
    }
    .card-btn {
        background-color: $color-button;
        border: none;
        border-radius: 8px;
        padding: 12px 24px;
        display: block;
        width: 100%;
        text-align: center;
    }
}

.cta {
    display: block;
    padding: 40px 0;
    .about {
        padding: 40px 16px;
        h2 {
            margin: 0;
        }
    }

    .contact {
        padding: 40px 16px;
        h2 {
            margin: 8px 0;
        }
        a {
            padding: 8px 0 40px 0;
        }
    }
}

#pr-employee-directory {
    background-color: $project-1;
}

#pr-analytics-dashbouard {
    background-color: $project-2;
}

#pr-game {
    background-color: $project-3;
}

#pr-photo-gallery {
    background-color: $project-4;
}

#pr-styleguide {
    background-color: $project-5;
}

#pr-registration-form {
    background-color: $project-6;
}