.info {
    padding: 80px 16px;

    h1,
    p {
        margin: 8px 0;
    }
}

.label {
    margin: 0 16px;
}


.card {
    margin: 16px;
    padding: 16px;
    border-radius: 16px;

    h3 {
        margin: 16px 0 0 0;
    }

    p {
        margin: 24px 0;
    }

    ul {
        padding: 0;
        margin: 0 -2px;

        li {
            display: inline-block;
            text-align: center;
            border: 1px solid $color-button;
            border-radius: 100px;
            margin-right: 4px;
            margin-top: 8px;
            padding: 4px 12px;
        }
    }

    .subtitle {
        margin-bottom: 8px;
        margin-top: 0;
    }

    .card-btn {
        background-color: $color-button;
        border: none;
        border-radius: 8px;
        padding: 12px 24px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .project-img {
        display: none;
    }
}

.cta {
    padding: 40px 0;

    .about,
    .to-projects {
        padding: 40px 16px;

        h2 {
            margin: 0;
        }
    }

    .contact {
        padding: 40px 16px;

        h2 {
            margin: 8px 0;
        }

        a {
            padding: 8px 0 40px 0;
        }
    }
}

#pr-employee-directory {
    background-color: $project-1;
}

#pr-analytics-dashbouard {
    background-color: $project-2;
}

#pr-game {
    background-color: $project-3;
}

#pr-photo-gallery {
    background-color: $project-4;
}

#pr-styleguide {
    background-color: $project-5;
}

#pr-registration-form {
    background-color: $project-6;
}

// Media queries

@include mq(medium) {

    .info,
    .projects {
        max-width: 992px;
        margin: 0 auto;

        .card {
            display: flex;
            overflow: auto;

            .project-img {
                display: block;
                width: 50%;
                margin: 0 -16px -16px 16px;
            }
        }

        .card-btn {
            width: 50%;
        }
    }
}

@include mq(large) {
    .cta {
        .hover-color:hover {
            filter: brightness(2);
        }

        a:hover {
            color: $white;
        }
    }
}