* {
    font-family: museo-sans, sans-serif;
    line-height: 140%;
}

.overlay {
    ul {
        font-size: 28px;
        color: $color-text-primary;
    }
}

// Index

.info {
    h1, p{
        font-size: 28px;
        font-weight: normal;
    }
    h1 {
        color: $color-text-primary;
    }
    p {
        color: $white;
    }
}

.label {
    color: $color-text-primary;
    @include text-primary;
    // font-weight: normal;
    // font-size: $base-font-size;
}

.card {
    h3 {
        font-size: 20px;
        color: $color-text-dark;
        font-weight: 500;
    }
    p {
        font-size: 16px;
        color: $color-text-secondary;
    }
    ul {
        list-style: none;
        font-size: 12px;
        color: $color-text-secondary;
    }
    .card-btn {
        color: $color-text-dark;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
    }
}

.about,
.resume {
    h2 {
        color: $white;
        @include text-primary;
        // font-weight: normal;
        // font-size: $base-font-size;
    }
}

.contact {
    h2, a {
        @include text-primary;
        // font-weight: normal;
        // font-size: $base-font-size;
    }
    h2 {
        color: $white;
    }
    a {
        color: $color-text-primary;
        text-decoration: none;
    }
}

// About

.about-info {
    h1, p {
        @include text-primary;
        // font-weight: normal;
        // font-size: $base-font-size; 
    }
    h1 {
        color: $color-text-primary;
    }
    p {
        color: $white;
    }
}

.experience {
    color: $color-text-primary;
    h2 {
        @include text-primary;
    }
    .exp-card {
        h3 {
            color: $white;
            font-weight: 500;
            font-size: 20px;
        }
        .period {
            font-weight: normal;
            font-size: 12px;
        }
        p {
            font-weight: normal;
            font-size: 16px;
        }
    }
}
